body {
    background: #F4F4F4;
    text-align: center ;
    margin: 0 ;
    padding: 0 ;
}


.main {
    height: 300px;
    left: 0px;
    top: 0px;

    background: #6943FF;
    
}

h1 {
    margin-top: 0 ;
    padding-top: 33px ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

#input {
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;

    border: 2px solid #B295FF;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    background: #6943FF;
    
    color: #FFFFFF;
    margin-top: 30px ;
    
}

#button {
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;

    background: #FFFFFF;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-color: #FFFFFF ;
    border-radius: 5px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    color: #3D3D3D;
    
    margin-top: 27px;
    margin-bottom: 30px ;
}

#tabone {
    height: 108.57px;
    left: 25px;
    top: 321px;

    /* white */

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    
    margin-left: 25px ;
    margin-right: 25px ;
    
}

#tabtwo {
    height: 108.57px;
    left: 25px;
    top: 321px;

    /* white */

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    
    margin-left: 25px ;
    margin-right: 25px ;
    margin-top: 44px;
}

#tabthree {
    height: 108.57px;
    left: 25px;
    top: 321px;

    /* white */

    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    
    margin-left: 25px ;
    margin-right: 25px ;
    margin-top: 44px;
}

h2 {
   
    height: 25px;
    left: 77px;
    top: 31px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    /* or 100% */

    text-align: center;

    color: #5A537B;
    padding-top: 25px ;
    
    

}

p {
   margin-top:  12px ;
   margin-bottom: 30px ;
   
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */

    text-align: center;

    color: #353535; 
}

.maintwo {
    margin-top: 36px ;
    margin-bottom: 36px ; 
}



